.con4 {
    width: 300px;
    height: auto;
    overflow: hidden;
    margin: 20px auto;
    color: #FFFFFF;
}

.con4 .btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #d8b49c;
    display: block;
    font-size: 16px;
    border-radius: 5px;
}

.upload {
    float: left;
    position: relative;
}

.upload_pic {
    display: block;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    border-radius: 5px;
}

#cvs {
    border: 1px solid #000;
    margin: 20px 0 20px 50px;
}

div {
    width: 100%;
}

.logo img {
    display: block;
    margin: 0 auto;
}

.upload {
    position: relative;
    width: 80px;
    height: 18px;
    line-height: 18px;
    background: #2fc7c9;
    text-align: center;
    color: #FFF;
    padding: 0px 5px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 0 auto;
}

.upload form {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.upload form input {
    width: 100%;
}


#test-image-preview {
    　　border: 1px solid #ccc;
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}